.component {
    .tooltip {
        background: $white;
        border: var(--1px) solid $gray-200;
        border-radius: .25rem;
        padding: .75rem;
        max-width: 10rem;
    }

    .chart {
        .bars {

        }

        .bottomLabel {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 80px;
            //background-color: red;
            padding-right: 15px;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            padding-top: 4px;
            white-space: nowrap;

            @media #{$mq-sm-max} {
                font-size: .5rem;
            }
        }
    }
}