.component {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .warning {
        display: flex;
        width: fit-content;
        align-items: center;
        background-color: $purple;
        border-radius: 2rem;
        font-size: .625rem;
        color: $white;
        padding: .375rem .75rem;
        margin-bottom: 2.25rem;
        margin-top: -.75rem;
        gap: .325rem;

        svg {
            width: .875rem;
            min-width: .875rem;
            height: .875rem;
        }
    }

    .tooltip {
        background: $white;
        border: var(--1px) solid $gray-200;
        border-radius: .25rem;
        padding: .75rem;
        max-width: 10rem;
        text-transform: capitalize;
    }

    .label {
        //text-shadow: 0 0 .1rem $black;
    }

    .companyLabel {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1;
        height: 100%;
        display: flex;
        align-items: center;

        p {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
    }
}