.component {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    @media #{$mq-sm-min} {
        gap: 1rem;
    }

    .item {
        display: flex;
        align-items: flex-start;
        gap: .75rem;

        @media #{$mq-sm-min} {
            gap: 1rem;
        }

        .image {
            position: relative;
            overflow: hidden;
            border-radius: .25rem;
            display: block;
            width: 3.5rem;
            aspect-ratio: 1;
            background-color: $gray-50;

            @media #{$mq-sm-min} {
                width: 4rem;
                border-radius: .5rem;
            }

            img {
                mix-blend-mode: multiply;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            padding-top: .25rem;

            .name {
                
            }
        }
    }
}