.topMenu {
	position: relative;
	z-index: 90;
	width: 100%;
	padding: 1.5rem 0;
	background-color: $purple-dark;

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			gap: 2.5rem;

			.logo {
				display: flex;
				width: 13rem;
				transition: .3s ease-in-out;
	
				&:hover,
				&:focus-visible {
					opacity: .7;
				}
	
				svg {
					width: 100%;
					height: auto;
				}
			}

			.menu {
				display: flex;
				align-items: center;
				gap: 2rem;

				a {
					opacity: .675;
					transition: .3s ease-in-out;

					&:hover,
					&:focus-visible {
						opacity: 1;
					}
				}
			}
		}

		.right {
			.icons {

			}

			.tokens {

			}

			.user {
				display: flex;
				align-items: center;
				gap: .75rem;

				.nameEmail {
					display: flex;
					flex-direction: column;
					text-align: left;

					span {
						line-height: 1.4;
					}
				}
			}
		}
	}
}