.page {
    .navigation {
        padding-top: 1rem;
        border-top: var(--1px) solid $gray-200;
        border-bottom: var(--1px) solid $gray-200;

        ul {
            display: flex;
            align-items: flex-end;
            gap: 1.5rem;

            button {
                padding-bottom: 1rem;
                border-bottom: .2rem solid transparent;

                &:hover,
                &:focus-visible {
                    color: $gray-600;
                    border-color: $gray-200;
                }

                &.active {
                    border-color: $purple;
                    color: $black;
                }
            }
        }
    }

    .content {
        .gridWrapper {
            display: grid;
            grid-template-columns: 1fr 20rem;
            min-height: 80vh;

            .charts {
                .bg {
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    right: 0;
                    width: 100vw;
                    height: 100%;
                }
            }

            .information {

            }
        }
    }
}