.page {
    overflow: hidden;

    .filtersSection {
        position: relative;
        z-index: 4;

        .flex {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;

            @media #{$mq-sm-min} {
                gap: 2rem;
            }

            .left {
                display: flex;
                align-items: center;
                gap: .5rem;

                @media #{$mq-lg-min} {
                    gap: 1.5rem;
                }

                @media #{$mq-sm-max} {
                    width: 100%;
                }

                .filters {
                    position: relative;

                    @media #{$mq-sm-max} {
                        width: 100%;
                    }

                    .filtersButton {
                        padding: .75rem 1rem;
                        gap: .5rem;

                        @media #{$mq-sm-max} {
                            width: 100%;
                            justify-content: space-between;
                            padding: .75rem;
                        }

                        &[data-open='true'] {
                            background-color: $blue;
                            border-color: $blue;
                            color: $white;

                            svg {
                                &:last-child {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        svg {
                            width: 1rem;
                            min-width: 1rem;
                            height: 1rem;

                            &:first-child {
                                @media #{$mq-sm-max} {
                                    display: none;
                                }
                            }

                            &:last-child {
                                transition: transform .2s ease-in-out;
                            }
                        }
                    }

                    .sub {
                        display: flex;
                        flex-direction: column;

                        button {
                            padding: .75rem 1.25rem;
                            border-bottom: var(--1px) solid $gray-200;
                            white-space: nowrap;
                            transition: .1s ease-in-out;
                            width: 100%;
                            text-align: left;
                            min-width: 12rem;

                            &:hover,
                            &:focus-visible {
                                background-color: $gray-100;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .products {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;

                    @media #{$mq-sm-max} {
                        width: 100%;
                    }

                    .productsMobile {
                        padding: .75rem 1rem;
                        gap: .5rem;

                        @media #{$mq-lg-min} {
                            display: none;
                        }

                        @media #{$mq-sm-max} {
                            width: 100%;
                            justify-content: space-between;
                            padding: .75rem;
                        }

                        &[data-open='true'] {
                            background-color: $blue;
                            border-color: $blue;
                            color: $white;

                            svg {
                               transform: rotate(180deg);
                            }
                        }

                        svg {
                            width: 1rem;
                            min-width: 1rem;
                            height: 1rem;
                            transition: transform .2s ease-in-out;
                        }
                    }

                    .sub {
                        display: flex;
                        flex-direction: column;

                        button {
                            padding: .75rem 1.25rem;
                            border-bottom: var(--1px) solid $gray-200;
                            white-space: nowrap;
                            transition: .1s ease-in-out;
                            width: 100%;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            gap: .75rem;
                            min-width: 12rem;

                            &:hover,
                            &:focus-visible {
                                background-color: $gray-100;
                            }

                            &:last-child {
                                border-bottom: none;
                            }

                            svg {
                                width: 1rem;
                                min-width: 1rem;
                                height: 1rem;
                            }
                        }
                    }

                    .label {
                        @media #{$mq-lg-max} {
                            display: none;
                        }

                        span {
                            &:first-child {
                                @media #{$mq-2xl-max} {
                                    display: none;    
                                }
                            }

                            &:last-child {
                                @media #{$mq-2xl-min} {
                                    display: none;
                                }
                            }
                        }
                    }

                    .list {
                        display: flex;
                        align-items: center;
                        gap: 1.75rem;

                        @media #{$mq-lg-max} {
                            display: none;
                        }

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: auto;
                            height: 3rem;
                            transition: .2s ease-in-out;

                            &:hover,
                            &:focus-visible {
                                opacity: .7;
                            }

                            img,
                            svg {
                                width: auto;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

            .right {
                display: flex;
                align-items: stretch;
                gap: .5rem;

                @media #{$mq-xl-min} {
                    gap: 1rem;
                }

                .search {
                    .searchMobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        @include gradient-left-right($blue-light, $blue);
                        color: $white;
                        border-radius: .25rem;
                        transition: .3s ease-in-out;
                        padding: 0 .75rem;

                        @media #{$mq-sm-min} {
                            padding: 0 1rem;
                        }

                        @media #{$mq-xl-min} {
                            display: none;
                        }

                        &:hover,
                        &:focus-visible {
                            filter: brightness(1.1);
                        }

                        svg {
                            width: 1rem;
                            min-width: 1rem;
                            height: 1rem;
                        }
                    }

                    .searchWrapper {
                        position: relative;
                        display: flex;
                        height: 100%;

                        @media #{$mq-xl-max} {
                            position: absolute;
                            display: flex;
                            height: auto;
                            visibility: hidden;
                            opacity: 0;
                            top: calc(100% + .25rem);
                            right: 0;
                            width: 100%;
                            padding: 1rem;
                            background-color: $pure-white;
                            box-shadow: 0 0 1rem 0 rgba($black, .025);
                            border-radius: .25rem;
                            border: var(--1px) solid $gray-200;
                            transition: .3s ease-in-out;
                        }

                        &.open {
                            opacity: 1;
                            visibility: visible;
                        }

                        .icon {
                            position: absolute;
                            z-index: 2;
                            top: 50%;
                            left: .75rem;
                            transform: translateY(-50%);
                            display: flex;
                            width: 1rem;
                            height: 1rem;
                            color: $gray-400;

                            @media #{$mq-xl-max} {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: .5rem;
                                width: auto;
                                height: auto;
                                padding: .95rem 1rem;
                                color: $white;
                                border-radius: .275rem;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                left: auto;
                                right: 1rem;
                                @include gradient-left-right($blue-light, $blue);
                                transition: .3s ease-in-out;
                            }

                            @media #{$mq-sm-max} {
                                padding: 1.05rem;
                            }

                            &:hover,
                            &:focus-visible {
                                @media #{$mq-xl-max} {
                                    filter: brightness(1.1);
                                }
                            }

                            span {
                                display: none;

                                @media #{$mq-sm-min} {
                                    display: block;
                                }

                                @media #{$mq-xl-min} {
                                    display: none;
                                }
                            }

                            svg {
                                width: 100%;
                                height: 100%;

                                @media #{$mq-xl-max} {
                                    width: 1rem;
                                    min-width: 1rem;
                                    height: 1rem;
                                }
                            }
                        }

                        .input {
                            position: relative;
                            z-index: 1;
                            width: 13rem;
                            height: 100%;
                            border: var(--1px) solid $gray-300;
                            border-radius: .25rem;
                            background-color: transparent;
                            padding: 0 0 0 2.25rem;

                            @media #{$mq-2xl-min} {
                                width: 20rem;
                            }

                            @media #{$mq-3xl-min} {
                                width: 22rem;
                            }

                            @media #{$mq-xl-max} {
                                width: 100%;
                                padding: 1rem 8rem 1rem 1rem;
                            }

                            @media #{$mq-sm-max} {
                                padding: 1rem 4rem 1rem 1rem;
                            }
                        }
                    }
                }

                .new {
                    position: relative;

                    .button {
                        padding: .75rem;

                        @media #{$mq-sm-min} {
                            padding: .75rem 1rem;
                            gap: .25rem;
                        }

                        &[data-open='true'] {
                            background-color: $blue;
                            border-color: $blue;
                            color: $white;

                            svg {
                                &:last-child {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        span {
                            @media #{$mq-sm-max} {
                                display: none;
                            }
                        }

                        svg {
                            &:last-child {
                                transition: transform .2s ease-in-out;

                                @media #{$mq-sm-max} {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sub {   
                        display: flex;
                        flex-direction: column;
                        left: auto;
                        right: 0;

                        p {
                            display: block;
                            padding: .75rem 1.25rem .25rem 1.25rem;
                        }

                        button {
                            padding: .75rem 1.25rem;
                            white-space: nowrap;
                            transition: .1s ease-in-out;
                            width: 100%;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            gap: .75rem;
                            min-width: 12rem;

                            &:hover,
                            &:focus-visible {
                                background-color: $gray-100;
                            }

                            svg {
                                width: 1rem;
                                min-width: 1rem;
                                height: 1rem;
                            }
                        }

                        .line {
                            display: block;
                            width: 100%;
                            height: var(--1px);
                            background-color: rgba($gray-300, .5);
                        }
                    }
                }
            }
        }
    }

    .list {
        position: relative;
        overflow: hidden;
            
        &:after {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            width: 1.075rem;
            height: .5rem;
            background-color: $white;

            @media #{$mq-xs-min} {
                width: calc((100vw - 92%) / 2 + .75rem);
            }

            @media #{$mq-lg-min} {
                content: none;
            }
        }

        .listWrapper {
            position: relative;
            padding-bottom: 1rem;

            @media #{$mq-lg-max} {
                width: calc(100% + 3rem);
                padding-right: 2.75rem;
                overflow-x: scroll;
            }

            @media #{$mq-md-max} {
                width: calc(100% + 2rem);
                padding-right: 2.25rem;
            }

            @media #{$mq-sm-max} {
                width: calc(100% + 1.75rem);
                padding-right: 2rem;
            }

            @media #{$mq-xs-max} {
                width: calc(100% + 1rem);
                padding-right: 1.1rem;
            }

            &::-webkit-scrollbar {
                height: .25rem;
            }
            
            &::-webkit-scrollbar-track {
                background: $gray-200;
            }
            
            &::-webkit-scrollbar-thumb {
                background: $purple;
                border-radius: .25rem;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                cursor: grab;
            }

            > * {
                &:last-child {
                    &.listItem {
                        border-bottom: none;
                    }

                    &.listGroup {
                        .listItem {
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

            .listTitle {
                position: relative;
                display: grid;
                grid-template-columns: 2.5fr 1fr 1.25fr 1.25fr 1.25fr 1.75fr 1fr 0.35fr;
                padding: 1rem 0;
                border-top: var(--1px) solid $gray-200;
                border-bottom: var(--1px) solid $gray-200;
                min-width: 60rem;
                margin-bottom: calc(var(--1px) * -1);

                @media #{$mq-sm-min} {
                    min-width: 60rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: .275rem;
                    transition: .1s ease-in-out;
                    text-align: left;

                    &:hover,
                    &:focus-visible {
                        color: $gray-500;
                    }
                }
            }

            .listGroup {
                .listGroupTitle {
                    background-color: rgba($gray-200, .5);
                    border-top: var(--1px) solid $gray-200;
                    border-bottom: var(--1px) solid $gray-200;
                    padding: 1rem;
                    min-width: 60rem;

                    @media #{$mq-sm-min} {
                        min-width: 60rem;
                    }
                }
            }

            .listItem {
                position: relative;
                display: grid;
                align-items: center;
                grid-template-columns: 2.5fr 1fr 1.25fr 1.25fr 1.25fr 1.75fr 1fr 0.35fr;
                padding: 1rem 0;
                border-top: var(--1px) solid $gray-200;
                border-bottom: var(--1px) solid $gray-200;
                transition: .1s ease-in-out;
                min-width: 60rem;

                @media #{$mq-sm-min} {
                    min-width: 60rem;
                }

                &:hover,
                &:focus-visible {
                    background-color: $gray-100;
                }

                .nameCol {

                }

                .statusCol {
                    padding-left: .875rem;

                    .status {
                        font-size: 0;
                        color: transparent;
                        display: block;
                        width: .875rem;
                        min-width: .875rem;
                        height: .875rem;
                        border-radius: 50%;
                        padding: 0;
                        margin: 0;

                        &.empty {
                            border: .1rem dashed $gray-400;
                        }

                        &.red {
                            background-color: #F87171;
                        }

                        &.yellow {
                            background-color: #FDE047;
                        }

                        &.green {
                            background-color: #86EFAC;
                        }
                    }
                }

                .categoryCol {

                }

                .dateCol {
                    .at {
                        @media #{$mq-xl-max} {
                            display: none;
                        }
                    }

                    br {
                        @media #{$mq-xl-min} {
                            display: none;
                        }
                    }
                }

                .productCol {

                }

                .createdByCol {
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                }

                .actionCol {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    .ellipsis {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        min-width: 2rem;
                        height: 2rem;
                        padding: .5rem;
                        color: $gray-500;
                        transition: .2s ease-in-out;
                        border-radius: .25rem;

                        &:hover,
                        &:focus-visible,
                        &.open {
                            color: $white;
                            background-color: $gray-500;
                        }

                        &.open {
                            &:before,
                            &:after {
                                opacity: 0;
                            }
                        }

                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        .flex {
            border-top: var(--1px) solid $gray-400;
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .left {

            }

            .right {
                display: flex;
                align-items: center;
                gap: .5rem;

                @media #{$mq-lg-min} {
                    padding-right: 1rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    min-width: 2rem;
                    height: 2rem;
                    padding: .25rem;
                    color: $gray-600;
                    transition: .3s ease-in-out;

                    &:disabled {
                        color: $gray-400!important;
                        pointer-events: none!important;
                    }

                    &:hover,
                    &:focus {
                        color: $blue;
                    }

                    &:first-child {
                        &:hover,
                        &:focus-visible {
                            transform: translateX(-.25rem);
                        }
                    }

                    &:last-child {
                        &:hover,
                        &:focus-visible {
                            transform: translateX(.25rem);
                        }
                    }

                    svg {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.optionsSub {
    display: flex;
    background-color: $pure-white;
    box-shadow: 0 0 1rem 0 rgba($black, .025);
    border-radius: .25rem;
    border: var(--1px) solid $gray-200;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;

    &.open {
        opacity: 1;
        visibility: visible;
    }
    
    .subWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        button,
        a {
            padding: .75rem 1.25rem;
            white-space: nowrap;
            transition: .1s ease-in-out;
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            gap: .75rem;
            min-width: 12rem;

            &:hover,
            &:focus-visible {
                background-color: $gray-100;
            }

            svg {
                width: 1rem;
                min-width: 1rem;
                height: 1rem;
            }
        }
    }
}

body .popup {
    display: none;
    background-color: $white;
    width: 30rem;
    max-width: 100%;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .buttons {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-top: 1rem;

        .confirm {
            border-color: $gray-300;
            color: $gray-500;
            transition: .3s ease-in-out;

            &:hover,
            &:focus {
                background-color: $red;
                border-color: $red;
                color: $white;
            }

            span {
                transition: none;
            }
        }
    }
}