.component {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 2.125rem;
	min-width: 2.125rem;
	height: 2.125rem;
	background-color: $blue;
	color: $white;
	text-transform: uppercase;
	font-weight: $medium;

	&:after {
		text-transform: capitalize;
		font-size: .5rem;
	}

	img {
		border-radius: 50%;
	}
}